<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Catalog App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navigation">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if route_name == 'Home'%}active{% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      {% if USER.username %}
        <li class="nav-item {% if route_name == 'Add Category'%}active{% endif %}">
          <a class="nav-link" href="/category/add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Category</a>
        </li>
        <li class="nav-item {% if route_name == 'Add Sub Category'%}active{% endif %}">
          <a class="nav-link" href="/subcategory/add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Sub Category</a>
        </li>
        <li class="nav-item {% if route_name == 'Add Item'%}active{% endif %}">
          <a class="nav-link" href="/item/add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Item</a>
        </li>
      {% endif %}
      {% if ISMASTER %}
        <li class="nav-item {% if route_name == 'Manage Users'%}active{% endif %}">
          <a class="nav-link" href="/users/manage"><i class="fa fa-users" aria-hidden="true"></i> Manage</a>
        </li>
      {% endif %}
    </ul>
    <div>
      {% if USER.username %}
        <span class="text-white mr-2">Hello, {{USER.username}}</span>
        <a class="btn btn-primary" href="{{url_for('disconnect')}}">Logout</a>
      {% else %}
        {% if route_name != 'Login' %}
          <!-- Login button trigger login modal -->
          <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#login_modal">
            Login
          </button>
        {% endif %}
      {% endif %}
    </div>
  </div>
</nav>
