<div class="row" id="login_form_container">
  <div class="col-md-6">
    <div id="signinButton">
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="140069619757-bqkijqm8b96lsgl3jrvsi59bhq02t0q7.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
    </div>
    <p>or you can <a class="clickable" href="{{url_for('signup')}}">Register</a></p>
  </div>
  <div class="col-md-6">
    <form method="post" action="/users/login" id="login-form" novalidate>
      <div class="row">
        <div class="col-md-12 mb-2">
          <label for="email"> Email:</label>
          <input type="email" id='email' class="form-control" name="email" placeholder="Email" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="col-md-12 mb-2">
          <label for="passwd">Password:</label>
          <input type="password" id="passwd" class="form-control" name="passwd" min=6 placeholder="*****" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary" type="submit">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
$('#login-form').submit(function(event) {
  if (!validateAllInputs(event)) {
    event.preventDefault();
    event.stopPropagation();
  }
});
</script>
