<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<script src="https://use.fontawesome.com/02630fc401.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
		  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
		<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
	</head>
	<body>
		{% include "header.html" %}
		<div class="container">
			{% if route_name %}
			  <h1 class="text-center">
			    {{route_name}}
					{{state}}
			  </h1>
			{% endif %}
			<div class = 'flash'>
					      {% with messages = get_flashed_messages() %}
			      {% if messages %}

			        <ul>
			        {% for message in messages %}
			            <li> <strong> {{ message }} </strong> </li>
			        {% endfor %}
			        </ul>
			        {% endif %}
			    {% endwith %}
			</div>
			<div class="jumbotron jumbotron-fluid">
		    <div class="px-3">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>

		{% include "login_modal.html" %}


		<script>
		  function signInCallback(authResult) {
		    if (authResult['code']) {
		      console.log('authResult', authResult['code'])
		      // Send the one time use code to the server. if the server responses, write a login successful message and redirect
					$('.modal-body').html('<div class="text-center">Logging In...</div>');
		      $.ajax({
		        type: 'POST',
		        url: '/gconnect?state={{STATE}}',
		        processData: false,
		        contentType: 'application/text; charset=utf-8',
		        data: authResult['code'],
		        success: function(result) {
		          if (result) {
		            $('.modal-body').html('<div class="text-center">Login Successful!</br>' + result + '</br>Redirecting...</div>')
		            setTimeout(function() {
									$('#login_modal').modal('hide')
		              window.location.reload();
		            }, 4000);
		          } else if (authResult['error']) {
		            console.log("There was an error: " + authResult['error']);
		          }
		        },
		        error:function (xhr, ajaxOptions, thrownError){
		          if(xhr.status==404) {
		            $('.modal-body').html("Failed to make a server-side call.</br>Check your configuration and console.")
		          }
		        }
		      })
		    } else {
		      $('.modal-body').html("Failed to make a server-side call.</br>Check your configuration and console.")
		    }
		  }
		</script>

		<script>
		function setElementValid(elem) {
		  // reset classes for validation
		  elem.removeClass('is-invalid');
		  elem.addClass('is-valid');
		}

		function setElementInvalid(elem) {
		  // reset classes for validation
		  elem.addClass('is-invalid');
		  elem.removeClass('is-valid');
		}

		function validateRequired(elemRequired) {
			var length = elemRequired.val().length
			var validationTextElem = elemRequired.next();
			var valid = false;
			if (length == 0) {
		    setElementInvalid(elemRequired);
		  } else {
		    valid = true;
		    setElementValid(elemRequired);
		  }
		  return valid;
		}

		function validateMinLength (minLenElem) {
		  var length = minLenElem.val().length
		  var validationTextElem = minLenElem.next();
		  var valid = false;

		  if (length == 0) {
		    validationTextElem.text('Required');
		    setElementInvalid(minLenElem);
		  } else if (length < minLenElem.attr('min')) {
		    validationTextElem.text('Too short. (' + length + '/' + minLenElem.attr('min') + ')')
		    setElementInvalid(minLenElem);
		  } else {
		    valid = true;
		    setElementValid(minLenElem);
		  }
		  return valid;
		}

		function validateEmail (emailElem) {
		  var emailLength = emailElem.val().length;
		  var emailValidationElem = emailElem.next();
		  var emailValid = false;
		  var validEmailFormat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailElem.val());
		  if (emailLength == 0) {
		    emailValidationElem.text('Please provide an email.');
		    setElementInvalid(emailElem);
		  } else if (!validEmailFormat) {
		    emailValidationElem.text('Email is not valid.')
		    setElementInvalid(emailElem);
		  } else {
		    emailValid = true;
		    setElementValid(emailElem);
		  }

		  return emailValid;
		}

		function validateElement(element) {
		  if (element.required) {
		    var Jelem = null;
		    if (element.id) {
					var elementValid = false;
		      Jelem = $('#' + element.id);
					if (element.min) {
			      // min validation
			      elementValid = validateMinLength(Jelem);
						Jelem.on('change paste keyup', function() {
					  	validateMinLength(Jelem);
					  });
			    } else if (element.type == 'email') {
			      // email validation
			      elementValid = validateEmail(Jelem);
						Jelem.on('change paste keyup', function() {
					  	validateEmail(Jelem);
					  });
			    } else {
						elementValid = validateRequired(Jelem);
						Jelem.on('change paste keyup', function() {
							validateRequired(Jelem);
						});
					}
					return elementValid;
		    } else {
					console.log('@Noob Developer, give the input that needs validation an id bro');
					return true;
				}
		  } else {
		    return true;
		  }
		}

		function validateAllInputs(event) {
		  var valid_form = true;
		  for (let i = 0; i < event.target.length; i++) {
		    var elem = event.target[i];
		    if (elem.nodeName === 'INPUT') {
		      var elem_valid = validateElement(elem);
		      if (!elem_valid) {
		        valid_form = false;
		      }
		    }
		  }
			return valid_form
		}

		$('#needs-validation').submit(function(event) {
		  if (!validateAllInputs(event)) {
		    event.preventDefault();
		    event.stopPropagation();
		  }
		});
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</body>
</html>
